.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1,
h2 {
    text-align: center;
    color: #007bff;
}

.add-todo {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}


.list-group-item>div:first-child {

    flex-grow: 1;

    align-items: center;
}

.list-group-item .form-control-sm {
    max-width: 150px;

    margin-right: 0.5rem;
}

.list-group-item .form-control-sm[type="date"] {
    max-width: 120px;

}

.list-group-item .form-check-input-sm {
    margin-right: 0.2rem;
}

.list-group-item .form-check-label.small {
    font-size: 0.8rem;
}

textarea.form-control {
    height: 15px;
}

.add-todo-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
}

.add-todo-header {
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.add-todo-form {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 0.3s ease-in-out;
}

.add-todo-form.collapsed {
    max-height: 0;
}