<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Do It Now</a>
        <!-- *ngIf="loggedIn" -->
        @if(currentUser()){
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">logout</a>
            </li>
        </ul>
        }
 
        @if(currentUser()){
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none d-flex align-items-center">
                @if (currentUser()?.picture) {
                <img class="rounded-circle me-2" [src]="getUserImageUrl()" alt="{{ currentUser()?.userName }}"
                    width="30" height="30">
                }
                Welcome {{ currentUser()?.userName }}
            </a>
            <div *dropdownMenu class="dropdown-menu">
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">logout</a>
            </div>
        </div>
        }

        @if(!currentUser()){
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password">
            <button class="btn btn-outline-success" type="submit">login</button>
        </form>

        }

    </div>
</nav>